# PORT=3000
# NODE_ENV=development

# DATABASE_URL="mysql://root:password@localhost:3306/awasai"

# JWT_ACCESS_SECRET=vishal@0401
# JWT_REFRESH_SECRET=vishal@0401

# REDIS_HOST=localhost
# REDIS_PORT=6379

# GOOGLE_CLIENT_ID=your_google_client_id_here
# GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
# CLOUDINARY_API_KEY=your_cloudinary_api_key
# CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# SOCKET_CORS_ORIGIN=*